<div class="module">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-12">
            <mat-card class="text-center">
                <mat-card-content>
                    <h2>Forgot Password</h2>
                    <div *ngIf="!recoverySent">
                        <p>Enter your e-mail address to receive a password recovery e-mail.</p>
                        <mat-form-field>
                            <mat-label>E-Mail</mat-label>
                            <input matInput [(ngModel)]="email">
                        </mat-form-field>
                        <div class="row">
                            <div class="col-6">
                                <button mat-raised-button color="accent" [routerLink]="['/login']">Back to Login</button>
                            </div>
                            <div class="col-6">
                                <button mat-raised-button color="primary" [disabled]="!email" (click)="recover()">Send E-mail</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="recoverySent" class="text-center">
                        <div class="margin-bottom">
                            Please check your e-mail for further instructions.
                        </div>
                        <div>
                            <button mat-raised-button color="accent" [routerLink]="['/login']">Back to Login</button>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>